# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
venv/
result/*
result.txt

# Serverless directories and related
.serverless
lambda/node_modules/
lambda/package/requirements.txt
lambda/package/requirements/*
lambda/package/serverless-state.json
lambda/package.json
lambda/package-lock.json
lambda/venv/*
lambda/deploy/deploy.log
lambda/deploy/status.json
lambda/package/cloud*
lambda/deploy.log
test_data/*
lambda/package.sh
lambda/layers
